<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">JC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto" data-close-on-click-inside="false">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
  </div>
</nav>


<div class="jumbotron">
  <h1 class="display-3"><font color="green"><b>Success!</font></h1>
  <h1 class="display-3"><font color="green"><b>Thanks for booking a lesson, "Name"</font></h1>
  <p class="lead"><font color="green">We will both be getting a confirmation email. I will contact you to confirm on my end.</font></p>
  <hr class="my-4">

</div>

<div class="card">
    <div class="card-body">
      <h4 class="card-title">Contact Card</h4>
      <p class="card-text">If you need to reach me...</p>
      <p class="card-text">Email: jonc960@gmail.com</p>
      <hr class="my-4">
      <small id="version" class="form-text text-muted"> Version 1.0.2 - Jonathan Clark </small>
    </div>
</html>